{% extends "store/layout.html" %} {% block content %} {% load static %} {% load crispy_forms_tags %} {% csrf_token %}

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 mb-4">
        <!-- Checkout -->
        <form method="post" action="{% url 'checkout' %}" id="checkForm">
          {% csrf_token %}
          <div class="card shadow-0 border">
            <div class="p-4">
              <h5 class="card-title mb-3">Checkout</h5>
              <div class="row">
                <div class="col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.first_name | as_crispy_field}}
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-outline">
                    {{profile_form.last_name | as_crispy_field}}
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.number | as_crispy_field}}
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.email | as_crispy_field}}
                  </div>
                </div>
              </div>

              <hr class="my-4" />

              <div class="row">
                <div class="col-sm-8 mb-3">
                  <div class="form-outline">
                    {{profile_form.street | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-4 col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.state | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-4 mb-3">
                  <div class="form-outline">
                    {{profile_form.number_house | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-4 col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.postal_code | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-4 mb-3">
                  <div class="form-outline">
                    {{profile_form.city | as_crispy_field}}
                  </div>
                </div>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault1"
                />
              </div>

              <hr class="my-4" />

              <h5 class="card-title mb-3">Pagamento</h5>

              <div class="row mb-3">
                <div class="col-sm-8 mb-3">
                  <div class="form-outline">
                    {{profile_form.card_name | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-4 col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.card_expiration | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-8 mb-3">
                  <div class="form-outline">
                    {{profile_form.card_number | as_crispy_field}}
                  </div>
                </div>

                <div class="col-sm-3 col-6 mb-3">
                  <div class="form-outline">
                    {{profile_form.card_cvv | as_crispy_field}}
                  </div>
                </div>
              </div>

              <hr class="my-4" />

              <h5 class="card-title mb-3">Envio info</h5>

              <div class="row mb-3">
                <div class="col-lg-4 mb-3">
                  <!-- Default checked radio -->
                  <div class="form-check h-100 border rounded-3">
                    <div class="p-3">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefaultShipping"
                        id="express-shipping"
                      />
                      <label class="form-check-label" for="express-shipping">
                        Entrega expressa <br />
                        <small class="text-muted">3-4 dias via sedex </small>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-3">
                  <!-- Default radio -->
                  <div class="form-check h-100 border rounded-3">
                    <div class="p-3">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefaultShipping"
                        id="post-office-shipping"
                      />
                      <label
                        class="form-check-label"
                        for="post-office-shipping"
                      >
                        Transportadora <br />
                        <small class="text-muted"
                          >20-30 dias via transportadora
                        </small>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-3">
                  <!-- Default radio -->
                  <div class="form-check h-100 border rounded-3">
                    <div class="p-3">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefaultShipping"
                        id="self-pickup"
                        checked
                      />
                      <label class="form-check-label" for="self-pickup">
                        Retirar <br />
                        <small class="text-muted">Retirar na loja </small>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="float-end">
                <a href="{% url 'cart' %}" class="btn btn-light border mx-2"
                  >Voltar</a
                >
                <button
                  type="submit"
                  class="btn btn-success shadow-0 border mx-2"
                >
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- Checkout -->
      </div>
      <div
        class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end"
      >
        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
          <h6 class="mb-3">Summary</h6>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Subtotal:</p>
            <p class="mb-2" id="totalprice">R${{order.total_amount}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Desconto:</p>
            {% if order.promo_code %}
            <p class="mb-2 text" id="discountprice">
              R${{order.promo_code.discount}}
            </p>
            {% else %}
            <p class="mb-2 text" id="discountprice">R$0</p>
            {%endif %}
          </div>
          <div class="d-flex justify-content-between">
            <p class="mb-2">Valor envio:</p>
            <p class="mb-2" id="shipping-cost">Free</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p class="mb-2">Total:</p>
            <p class="mb-2 fw-bold" id="totalpricediscount">
              ${{order.total_amount}}
            </p>
          </div>

          <div class="input-group mt-3 mb-4">
            <input
              type="text"
              class="form-control border"
              id="promo-code-input"
              placeholder="Promo code"
            />
            <button
              class="btn btn-light text-primary border"
              id="apply-promo-code-button"
            >
              Aplicar
            </button>
          </div>

          <!--Itens -->

          <hr />
          <div class="text-dark my-4">Itens no carinho</div>

          {% for cart_item in cart_items %}
          <div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary"
              >
                {{ order.cart_item.quantity }}
              </span>
              <img
                src="{{ cart_item.item.image.url }}"
                style="height: 96px; width: 96px"
                object-fit:
                cover;
                class="img-sm rounded border"
              />
            </div>
            <div class="">
              <a href="#" class="nav-link">
                {{ cart_item.item.name }} <br />
                <p>Item description</p>
              </a>
              <div class="price text-muted">
                Total: ${{ cart_item.total_price }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
//Função para impedir retorno
  history.pushState(null, null, document.URL);
  window.addEventListener("popstate", function () {
    history.pushState(null, null, document.URL);
  });
</script>

<script>
//Função para atualizar o custo de envio e o preço total com base na opção selecionada
document.addEventListener("DOMContentLoaded", function () {
   var expressShippingRadio = document.getElementById("express-shipping");
   var postOfficeShippingRadio = document.getElementById("post-office-shipping");
   var selfPickupRadio = document.getElementById("self-pickup");
   var shippingCostElement = document.getElementById("shipping-cost");

   expressShippingRadio.addEventListener("change", updateShippingCost);
   postOfficeShippingRadio.addEventListener("change", updateShippingCost);
   selfPickupRadio.addEventListener("change", updateShippingCost);
 
   function updateShippingCost() {
      var csrfToken = $("[name='csrfmiddlewaretoken']").val();
      var shippingOption;

      if (expressShippingRadio.checked) {
         shippingCostElement.textContent = "+R$14.00";
         shippingOption = "express";
      } else if (postOfficeShippingRadio.checked) {
         shippingCostElement.textContent = "+R$10.00";
         shippingOption = "post_office";
      } else if (selfPickupRadio.checked) {
         shippingCostElement.textContent = "Free";
         shippingOption = "self_pickup";
      }

      $.ajax({
         type: "POST",
         url: "/update_shipping_cost/",
         data: {
            shipping_option: shippingOption,
            csrfmiddlewaretoken: csrfToken,
         },
         success: function (data) {
            document.getElementById("totalpricediscount").textContent = "R$" + data.taxe;
            console.log(data.message);
         },
         error: function () {
            alert("Ocorreu um erro ao atualizar a taxa");
         },
      });
   }
});
</script>

<script>
//Função para lidar com codigo promocional
document.addEventListener("DOMContentLoaded", function () {
   var apply = document.getElementById("apply-promo-code-button");
   apply.addEventListener("click", listener);
});

function listener(event) {
   var promoCode = document.getElementById("promo-code-input").value;
   var csrfToken = $("[name='csrfmiddlewaretoken']").val();
   
   $.ajax({
      type: "POST",
      url: "/apply_promo_code/",
      data: {
         promo_code: promoCode,
         csrfmiddlewaretoken: csrfToken,
      },
      success: function (data) {
         document.getElementById("discountprice").textContent = "- $" + data.discount;
         document.getElementById("totalpricediscount").textContent = "$" + data.updated_price;
         console.log(data.message);
      },
      error: function () {
         alert("Ocorreu um erro ao aplicar o codigo");
      },
   });
}
</script>

{% endblock %}
