{% extends "store/layout.html" %}
{% load static %}

{% block content %}
 <!-- Order -->
<div class="col-10 mx-auto mb-4" id="orders" style="display: block;">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-normal mb-0 text-black">Pedidos Finalizados</h3>
    </div>
    {% if orders %}
        <!-- Loop para exibir pedidos finalizados -->
        {% for order in orders %}
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <!-- Número do pedido -->
                            <p class="lead fw-normal mb-2">Pedido #{{ order.pk }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3 text-center">
                            <!-- Data do pedido -->
                            <p class="text-muted">{{ order.order_date }}</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3 offset-lg-1 text-end">
                            <!-- Total do pedido -->
                            <h5 class="mb-0">R${{ order.total_amount }}</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 offset-lg-1 text-end">
                            <button type="button" class="btn btn-primary order-details-button" data-toggle="modal" data-target="#modal{{order.pk}}" data-order-id="{{order.pk}}">
                                +
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para detalhes do pedido -->
            <div class="modal fade" id="modal{{order.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalTitle{{ order.pk }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle{{ order.pk }}">Detalhes do Pedido #{{ order.pk }}</h5>
                        </div>
                        <div class="modal-body">
                            <!-- Conteúdo do modal com detalhes do pedido -->
                            <!-- Adicione outros detalhes conforme necessário -->
                            <ul>
                                <div class="row mb-1">
                                    {% for order_item in order.orderitem_set.all %}
                                    <div class="col-md-3">
                                        <img src="{{ order_item.item.image.url }}" alt="{{ order_item.item.name }}" class="img-fluid rounded">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted">{{ order_item.item.name }} </p>
                                        <p>Quantidade: {{ order_item.quantity }}</p>
                                        <p>Preço unidade: {{ order_item.item.price }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </ul>
                           
<hr>





<div class="order-details">
    <table class="table table-borderless text-end">
        <tr>
            <th scope="row" class="text-start align-middle">Total de Itens:</th>
            <td class="text-end">${{ order.calculate_total_itens }}</td>
        </tr>

        {% if order.promo_code %}
        <tr>
            <th scope="row" class="text-start align-middle">Desconto do Cupom:</th>
            <td class="text-end align-middle">R${{ order.promo_code.discount }}</td>
        </tr>
        {% endif %}

        <tr>
            <th scope="row" class="text-start align-middle">Valor do Envio:</th>
            <td class="text-end">${{ order.shipping_cost }}</td>
        </tr>

        <tr>
            <th scope="row" class="text-start align-middle">Total do Pedido:</th>
            <td class="text-end">${{ order.total_amount }}</td>
        </tr>
    </table>
</div>
</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeModal('{{ order.pk }}')">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No completed orders.</h4>
    {% endif %}
</div>
</div>
</div>
</div>
</div>

<script>
    function closeModal(orderId) {
        $("#modal" + orderId).modal("hide");
    }

    document.addEventListener("DOMContentLoaded", function () {
    // Adiciona o evento de clique para os botões de detalhes de pedidos
    document.querySelectorAll(".order-details-button").forEach((button) => {
        button.addEventListener("click", function (event) {
            var orderID = this.getAttribute('data-order-id'); // Obtém o ID do pedido do atributo data-order-id
            console.log("Clicado no botão de detalhes do pedido: " + orderID);

            // Adicione aqui a lógica para exibir o modal de detalhes do pedido correspondente
            $("#modal" + orderID).modal("show");

            // Adicione mais lógica conforme necessário
        });
    });
});  
</script>
{% endblock %}
